/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Poppins:wght@300;400;500;600&display=swap');

:root{
    /* body font */
    --body-font:"Poppins", sans-serif;
    --nav-font: "Oleo Script", system-ui;
    

    /* font weight */
    --font-medium:400;
    --font-bold:500;
    --text:#a29f9f;
    --subtitle:var(--font-medium);

    /* color palete */
    --bg-color:#ffc107;
    --button-color:#ffc107;
     

/* responsiveness */
}
*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: white;
    font-family:var(--body-font);
    overflow-x: hidden;
    
    
}

#page{
    margin-left: 5%;
    margin-right: 5%;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:var(--bg-color) ;
    padding: 10px;
    color: white;
    position: relative;
    z-index: 10px;
    top: 10px;
}
.left{
    padding-left: 20px;
    display: flex;
    gap: 2px;
    align-items: center;
    
   
}
.header{
    font-family: var(--nav-font);
    
}

.subtitle{
    font-weight: var(--subtitle);
    font-size: 2rem;
}


ul{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 20px;
    padding-right: 20px ;
    
    
}
a {
    color: white;
    text-decoration: none;
}
a:hover{
    cursor: pointer;
    color: #fbeab8;

    
}

.page{
    padding-left: 40px;
    padding: auto;
    padding-right: 10px;
}

#basic-detail{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 100px;
    width: 100%;
   margin-top: 4rem;
}
.image{
    width: 50%;
    padding-left: 20px;
    
}

img{
    width: 580px;
    height: 400px;
}
.detail{
    
    padding-top: 20px;
    width: 50%;
}
.text{
    color: var(--text);
}
p{
    color: var(--text);
}
.highlight{
    color: var(--bg-color);
}

.title-student{
    
    padding-top: 0;
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2.5em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  
}

.basics{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text);
    margin-top: 40px;
}

span{
    color: #ffc107;
}


hr{
    color: #fbeeee;
    
}

 #bio{
    margin-top: 2rem;
    padding-right: 10px;
    text-align: justify;
    margin-right: 10px;

 }
 .my-bio{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .para{
    width: 50%;
 }
 .photo{
   width: 500px;
    size: 200px;
 }

 .bio-text{
    text-align: justify;
    padding-top: 5px;
 }

 /* educational background*/
 #education-page{
    padding: 0;
    margin: 0;
 }
 #education{
    background: white;
    padding: 10px;
    margin-bottom: 3rem;
 }
.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    
    
}

.card{
    /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2); */
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
        
    transition: 0.3s;
    width: 30%;
    height: 200px;
    margin-right: 2rem;
    background: white;
}
.card:hover{
    background: #dde1e7;;
    color: white;
}
.container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    

}
.container:hover{
    color: white;
    cursor: pointer;
}


i{
 font-size: 30px; 
 color: var(--bg-color);
}




.book {
    position: relative;
    border-radius: 10px;
    width: 390px;
    height: 300px;
    background-color: whitesmoke;
    -webkit-box-shadow: 1px 1px 2px #f4e7e7;
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
  }
  
  .cover {
    top: 0;
    position: absolute;
    background-color: #dde1e7;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 1px 1px 2px #f1e4e4;
    box-shadow: 1px 1px 2px #efeaea;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .book:hover .cover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-80deg);
    -ms-transform: rotatey(-80deg);
    transform: rotatey(-80deg);
  }
  
  .card-head {
    font-size: 20px;
    font-weight: bolder;
  }

  .certificates{
    display: flex;
    gap: 10rem;
}


  /*===== contact =====*/
  
  .form-page{
    background-color: #f5f5f5;  
   
  }

  .row{
    display: flex;
    justify-content: space-evenly;
  }

.contact-form 
{
    min-height: 200px;
    background-color: #f5f5f5;
    padding: 20px;
   
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 50px;
}
.contact{
    margin-bottom: 40px;
}



 .w-50
{
    padding: 0 15px;
    flex: 0 0 50%;
    max-width: 100%;
    

}
 .input-group
{
    margin: 0 0 25px;
    border-radius: 30px;
    background-color:white;
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}
 .input-group .input-control
{
    height: 45px;
    display: block;
    width: 400px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    padding: 0 15px;
    transition: all 0.3s ease;
    color: var(--black-400);
}
 .input-group textarea.input-control
{
    height: 180px;
    width: 500px;
    padding-top: 15px;
   
}


 .submit-btn
{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: right;
    padding: 20px;
    width: 100px;
}

button{
    width: 300px;
    height: 50px;
    border-radius: 5px;
    background-color: var(--bg-color);
    border: #ffc107;
    color: white;
    cursor: pointer;

}
button:hover{
    background-color: #f5cb4d;
}


/*footer*/
footer
{
    background-color: var(--bg-color);
    margin-top: 30px;
    
}
footer .copyright-text
{
    padding: 10px 0;
    font-size: 18px;
    color: var(--text);
    font-weight: 300;
    margin: 10px 0 0;
}
.container{
    display: flex;
    justify-content: space-around;
    
}

.container-icon {
   
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .container button {
    width: 50px;
    height: 50px;
    border: none;
    background-color: #313638;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .icon {
    width: 26px;
    height: 26px;
    fill: #fff;
  }
  
  .container button:nth-child(1):hover {
    background-color: #2753a7;
  }
  
  .container button:nth-child(2):hover {
    background-color: #cd242b;
  }
  
  .container button:nth-child(3):hover {
    background-color: #55acee;
  }
  
  .container button:nth-child(4):hover {
    background-color: #0274b3;
  }
  
  .title {
    color: gray;
    font-weight: 700;
    font-size: 17px;
    position: absolute;
    top: -35px;
    left: 0;
  }

  /* responsiveness*/

  @media only screen and (max-width: 768px) {
    /* Styles for screens less than 768px wide */
    .image img {
      width: 100%; 
    }
    .ul{
        display: flex;
        flex-direction: column;
    }

    .basics{
        display: flex;
        flex-direction: column;
    }
    .my-bio{
        display: flex;
        flex-direction: column;

    }
     .bio-text{
        width: 100%;
     }
     #page{
        margin-left: 2%;
        margin-right: 2%;
     }
     .cards{
        display: flex;
        flex-direction: column;
        gap: 10px;
     }
     .certificates{
        display: flex;
        flex-direction: column;
     }
     .row{
        display: flex;
        flex-direction: column;
     }
  }

  @media only screen and (max-width: 991px) {
    .row{
        display: flex;
        flex-direction: column;
    }
    .cards{
        gap: 20px;
    }
  }

  @media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .cards{
    gap: 20px;
    }
  }